# -- Symfony2 -----------------------------------------
app/bootstrap.php.cache
app/bootstrap_cache.php.cache
app/cache/*
app/logs/*
vendor/*
web/css/*
web/js/*
web/uploads/*

# -- netbeans -----------------------------------------
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml