{% extends "TeachingGeneralBundle::template.html.twig" %}

{% block title %}Bienvenido a Teaching!{% endblock %}


{% block content %}
    
    <div class="row show-grid">
        <div class="col-md-12">
            {% if sesion %}
                Ya se encuentra logueado, <a href="{{ url('teaching_admin_homepage') }}">volver</a>
            {% else %}
                {% if errores != null %}    
                    <div class="row show-grid" id="notificacion">{{ errores }}</div>
                {% endif %}

                
                    {{ form(formu) }}
            {% endif %}
        </div>
    </div>
    
    
    
{% endblock %}