{% extends "TeachingGeneralBundle::template.html.twig" %}


{% block title %}Página no encontrada{% endblock %}

{% block header %}
    
    <h1 style="margin-top: 30px; ">
        Error {{ exception.statusCode }}
    </h1>
    
{% endblock %}

{% block content %}

    <div class="container">
        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="exception">
        <br/>

        <p>
            
            {% if exception.statusCode == 404 %}
                <h2>No disponible</h2>
                <br/>
                El recurso al que querías acceder no existe.
            {% endif %}
            {% if exception.statusCode == 403 %}
                <h2>Acceso prohibido</h2>
                <br/>
                No tienes los permisos suficientes para ver esta zona de la aplicación.
            {% endif %}
            <br/><br/>
            
            <p style="font-size: 20px;">
                <a href="{{ path('teaching_homepage') }}">Volver</a>
            </p>
            
            <br/>
        </p>
        </div>

    </div>
    
{% endblock %}


