{% extends "TeachingGeneralBundle::template.html.twig" %}

{% block breadcrumps %}Bienvenido {{ user }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row show-grid">
            <div class="col-md-5" onclick="window.location.assign('{{ path('teaching_user_messages') }}')">Mensajes</div>
            <div class="col-md-7">Configuración</div>
        </div>
    </div>
{% endblock %}