

/*****************************/    
/*      General styles       */
/*****************************/

/* Body styles */
body
{ 
	font-size: large;
	background-attachment: fixed;
	background-image: url('../img/fondo.png');
}


/* Header styles */    
#header { margin-top: 10px; }


/* Footer styles */
#footer {  margin-bottom: 50px; }





/*****************************/    
/*       Links styles        */
/*****************************/

a { text-decoration: none; }
    /* On link */
    a:hover { text-decoration: none; color: #003bb3; }


    
    
/*****************************/    
/*       Input styles        */
/*****************************/


/* Input form login */
#username, #password
{ 
    border-color: gray; 
    text-align: center; 
    color: #b3b3b3;

}
    /* On click, don't see border in input */
    /*#username:focus, #password:focus {  outline: 0px; }*/
    #boton { background-color: #E3350D; border-radius: 5px; border: solid 1px black; }
    
    

/*****************************/    
/*         Hr styles         */
/*****************************/

hr{border: solid 2px gray;}




/*****************************/    
/*         Img styles        */
/*****************************/

img{ width: 100px; }




/*****************************/    
/*     Exception styles      */
/*****************************/

#exception 
{
	text-align: center;
	background-color: white;
	border-radius: 3px;
	box-shadow: 3px 3px 10px gray;
}



.shadow{ box-shadow: 0px 3px 20px gray; }
.center{ text-align: center; }
.margin-top-15{ margin-top: 15px; }
.margin-bottom-15{ margin-bottom: 15px; }