/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-may-2014, 21:56:00
    Author     : Emili
*/

body{ background: linear-gradient(#E2E2E2, #E7E7E7, #E2E2E2); font-size: large; }

a { text-decoration: none; }
a:hover { text-decoration: none; color: #003bb3; }

#header { margin-top: 10px; }

#footer {  margin-bottom: 50px; }

hr{border: solid 2px gainsboro;}

img{ width: 100px; }